
.parent1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.parent2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.parent1 div{
  border: solid black 1px;
  border-collapse: collapse;
  text-align: center;
}
.parent2 div{
  border: solid black 1px;
  border-collapse: collapse;
  text-align: center;
}
.d101 { grid-area: 1 / 1 / 2 / 2; }
.d102 { grid-area: 1 / 2 / 2 / 3; }
.d103 { grid-area: 1 / 3 / 2 / 4; }
.d104 { grid-area: 1 / 5 / 2 / 6; }
.d105 { grid-area: 1 / 4 / 2 / 5; }
.d106 { grid-area: 1 / 6 / 2 / 7; }
.d107 { grid-area: 1 / 7 / 2 / 8; }
.d108 { grid-area: 1 / 8 / 2 / 9; }
.d109 { grid-area: 1 / 9 / 2 / 10; }
.d110 { grid-area: 1 / 10 / 2 / 11; }
.d111 { grid-area: 1 / 11 / 2 / 12; }
.d112 { grid-area: 1 / 12 / 2 / 13; }
.d201 { grid-area: 2 / 1 / 3 / 2; }
.d202 { grid-area: 2 / 2 / 3 / 3; }
.d203 { grid-area: 2 / 3 / 3 / 4; }
.d204 { grid-area: 2 / 4 / 3 / 5; }
.d205 { grid-area: 2 / 5 / 3 / 6; }
.d206 { grid-area: 2 / 6 / 3 / 7; }
.d207 { grid-area: 2 / 7 / 3 / 8; }
.d208 { grid-area: 2 / 8 / 3 / 9; }
.d209 { grid-area: 2 / 9 / 3 / 10; }
.d210 { grid-area: 2 / 10 / 3 / 11; }
.d211 { grid-area: 2 / 11 / 3 / 12; }
.d212 { grid-area: 2 / 12 / 3 / 13; }

.d1101 { grid-area: 1 / 1 / 2 / 2; }
.d1102 { grid-area: 1 / 2 / 2 / 3; }
.d1103 { grid-area: 1 / 3 / 2 / 4; }
.d1104 { grid-area: 1 / 5 / 2 / 6; }
.d1105 { grid-area: 1 / 4 / 2 / 5; }
.d1106 { grid-area: 1 / 6 / 2 / 7; }
.d1107 { grid-area: 1 / 7 / 2 / 8; }
.d1108 { grid-area: 1 / 8 / 2 / 9; }
.d1109 { grid-area: 1 / 9 / 2 / 10; }
.d1110 { grid-area: 1 / 10 / 2 / 11; }
.d1111 { grid-area: 1 / 11 / 2 / 12; }
.d1112 { grid-area: 1 / 12 / 2 / 13; }
.d1201 { grid-area: 2 / 1 / 3 / 2; }
.d1202 { grid-area: 2 / 2 / 3 / 3; }
.d1203 { grid-area: 2 / 3 / 3 / 4; }
.d1204 { grid-area: 2 / 4 / 3 / 5; }
.d1205 { grid-area: 2 / 5 / 3 / 6; }
.d1206 { grid-area: 2 / 6 / 3 / 7; }
.d1207 { grid-area: 2 / 7 / 3 / 8; }
.d1208 { grid-area: 2 / 8 / 3 / 9; }
.d1209 { grid-area: 2 / 9 / 3 / 10; }
.d1210 { grid-area: 2 / 10 / 3 / 11; }
.d1211 { grid-area: 2 / 11 / 3 / 12; }
.d1212 { grid-area: 2 / 12 / 3 / 13; }


/*.d1101, .d1102, .d1103, .d1104, .d1105, .d1106, .d1107, .d1108, .d1109, .d1110, .d1111, .d1112{*/
/*  margin-top:20px;*/
/*}*/
